/* common start */
body{
	margin:0;
	padding:0;
	font-family: 'Playfair Display', serif;
	font-size:16px;
	font-weight:400;
	color:#626262;
} 
/* common end */ 

/* header start */
 header{
	 padding:20px 0;
 }
 .container{
	 margin:0 auto;
	 width:90%;
	 overflow:hidden;
 }
 .logo{
	 margin-top:13px;
	 width:11%;
	 float:left;
 }
 .logo img{
	 width:100%;
	 
 }
 .menu{
	 width:65%;
	 float:right;
 }
 .menu ul{
	 float:right;
 }
 .menu ul li{
	 list-style:none;
	 float:left;
 }
 .menu ul li a{
	 
	 margin:0 60px;
	 padding:4px 1px 3px;
	 display:inline-block;
	 color:#626262;
	 text-transform:uppercase;
	 text-decoration:none;
	 border-bottom:1px solid transparent;
	 transition:.5s;
 }
 .menu ul li:last-child a{
	 margin-right:0;
 }
 .menu ul li a:hover{
	 border-bottom:1px solid #626262;
 }
/* header end */ 

/* banner start */ 
.banner{
	
}
.b-img{
	
}
.b-img img{
	width:100%;
}
/* banner end */ 
/* perfect start */ 
.perfect{
	padding-top:80px;
	padding-bottom:80px;
}
.container2{
	margin:0 auto;
	width:80%;
	overflow:hidden;
}
.p-content{
	
}
.c-light{
	margin:0;
	font-family: 'Ubuntu', sans-serif;
	font-size:14px;
	font-weight:300;
	color:#b4ad9e;
	text-transform:uppercase;
	
}
.c-h1{
	margin-top:20px;
	margin-bottom:30px;
	font-size:30px;
	font-weight:400;
}
.c-text{
	margin:0;
	line-height:25px;
}
.mb-40{
	margin-bottom:40px;
}

/* perfect end */ 

/* blog start */ 
.blog{
	padding-top:10px;
	padding-bottom:80px;
}
.blogs{
	
}
.single{
	margin-top:70px;
	width:47%;
	float:left;
}
.single:nth-child(even){
	margin-left:6%;
}
.s-img{
	margin-bottom:25px;
}
.s-img img{
	width:100%;
}
/* blog end */ 

/***news start***/
.news{
	background-color:#f0f0f0;
	padding:70px 0;
}
.signup{
	text-align:center;
}
.s-h1{
	margin-top:0;
	margin-bottom:70px;
	color:#333333;
}
.s-form{
	width:400px;
	margin:0 auto;
	position:relative;
}
.s-form input{
	font-family: 'Playfair Display', serif;
	color:#626262;
	font-size:14px;
	width:345px;
	height:45px;
	border:none;
	border-bottom:1px solid #626262;
	background-color:transparent;
	padding-left:5px;
	padding-right:45px;
}
.s-form input:focus{
	outline:0;
}
.s-form button{
	position:absolute;
	background:transparent;
	border:none;
	cursor:pointer;
	top:15px;
	right:0;
}
.s-form button:focus{
	outline:0;
}
.s-form button img{
	
}
/***news end***/
/* blog2 start*/ 
.load{
	margin:100px 0 20px;
	text-align:center;
}
.btn{
	width:160px;
	height:60px;
	font-family: 'Playfair Display', serif;
	font-size:20px;
	font-weight:400;
	color:#626262;
	background-color:transparent;
	border:1px solid #626262;
	transition:.5s;
}
.btn:hover{
	background-color:#626262;
	color:#FFFFFF;
}
/* blog2 end*/ 

/* footer start */
footer{
	padding:20px 0 30px;
	background-color:#f0f0f0;
	overflow:hidden;
}
.terms{
	float:left;
}
.terms ul{
	
}
.terms ul li{
	
	list-style:none;
	float:left;
}

.terms ul li a{
	margin-right:20px;
	text-decoration:none;
	color:#000000;
}
.terms ul li:last-child a{
	margin-right:0;
}
.social{
	float:right;
}
.social ul{
	
}
.social ul li{
	margin-right:25px;
	list-style:none;
	float:left;
}
.social ul li span{
	color:#000000;
}
.social ul li:last-child{
	margin-right:0;
}
.social ul li a{
	text-decoration:none;
	
}
/* footer end */


































